@charset "utf-8";
/* CSS Document */

      #login_area {margin-top:10%;}
	  #window_menu{
		   margin-left:34%;
           margin-top:20%;
	  }
	  #window_menu li{
		  font-family:"Arial Black", Gadget, sans-serif;
		  font-size:30px;
		  font-stretch:expanded;
	  }	
	  #select_company td{
		  min-width:50px;;
			border-width:1 px 1px 0 0;
			border-style:solid;
			

		  
	  }
	 
		  
	  

label{
	color:#000;
	
	
	
	
}

input[type=date]::-webkit-calendar-picker-indicator {
    display: inline-block;
}