.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.black_overlay1{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 200%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	padding-top: 0px;
	margin-top: 0px;
	border: 1px solid gray;
	border-radius: 5px; 
	background-color: #E7E5E5;
	z-index:1002;
	overflow: auto;
}
.white_content1 {
	display: none;
	position: absolute;
	top: 35%;
	left: 35%;
	width: 30%;
	height: 30%;
	padding-top: 50px;
	padding-bottom: 0px;
	border: 1px solid gray;
	border-radius: 5px; 
	background-color: #E7E5E5;
	z-index:1002;
	overflow: auto;
}
.white_content2 {
	position: absolute;
	top: 35%;
	left: 35%;
	width: 30%;
	height: 50%;
	padding-top: 50px;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 5px; 
	background-color: #E7E5E5;
	z-index:1002;
	overflow: auto;
}